.flex
    display flex
    align-items center
.flex-sb
    display flex
    justify-content space-between
.flex-sa
    display flex
    justify-content space-around
.flex-grow
    flex-grow 1
.flex-shrink
    flex-shrink 0
.flex-start
    display flex
    justify-content flex-start
.flex-center
    display flex
    justify-content center
.text-center
    text-align center
.text-left
    text-align left
.flex-col
    flex-direction column
.as
    &_strech
        align-self stretch
.underline
    text-decoration underline
.uppercase
    text-transform uppercase

.border-r
    border-radius 5px
    &_rght
        border-radius 0 5px 5px 0
    &_left
        border-radius 5px 0 0 5px
.border
    border 1px solid rgba(169, 183, 197, 0.3);
    &_top
        border-top 1px solid rgba(169, 183, 197, 0.3);
    &_left
        border-left 1px solid rgba(169, 183, 197, 0.3);
    &_bot
        border-bottom 1px solid rgba(169, 183, 197, 0.3);
    &_rght
        border-right 1px solid rgba(169, 183, 197, 0.3);

@media screen and (max-width: 1200px)
    .main-content > .flex-sb, .main-content.flex-sb
        flex-direction column


    .slides2_wrapper.flex-sb
        width 100%
        flex-direction row
