// Color
$green = #3ab904
$white = #fff
$blue = #00abec
$grey = #f4f4f4
$text-dark = #555
$text-grey = #999
$dark-blue = #334566


.margin20
  margin 20px 0
.i-vk,.i-fb,.i-tw,.i-rss,.i-viber,.i-tg ,.i-skype ,.i-whatsapp,.i-at, .i-inst, .i-googleplus
  transition: all 175ms!important
  &:hover
    background $green!important
.i-skype
  background #00b0f2
.i-vk
  background #2e77a3
.i-fb
  background #23599a
.i-tw,.i-tg
  background #00adf0
.i-rss
  background #fd9901
.i-viber
  background #7d3dad
.i-whatsapp
  background rgba(58, 185, 4, 0.65)
.i-at
 background #f7ba00
.i-googleplus
  background #cf1717
.i-inst
  background: url(../img/inst-back.png)