footer
   .footer(role='contentinfo')
      .hamburger-menu
         input#menu__toggle2(type='checkbox')
         label.menu__btn(for='menu__toggle2' onclick="$('.footer .menu__box').toggleClass('menu-toggle')")
            span
      ul.menu__box
         li
            a.menu__item(href="/") ГЛАВНАЯ
         li
            a.menu__item(href="/rates.html") ТАРИФЫ
         li
            a.menu__item(href="/partners.html") ПАРТНЕРАМ
         li
            a.menu__item(href="/news.html") БЛОГ
         li
            a.menu__item(href="/contact.html") ПОДДЕРЖКА
         li
            a.menu__item(href="/investors.html") ОБМЕН
      .flex-sb.footerClass
         ul
            li
               a(href="/")
                  img.footer_logo1(src="../img/footer/logo.svg" alt="Smart Pays")
            li
               p.footer_text__mod_col Copyright 2015 Smart-Pays.
            li.footer_social
               a.i-vk(href="https://vk.com/smartexchange")
               a.i-fb(href="")
               a.i-tw(href="https://twitter.com/Smart_pays")
               a.i-tg(href="#")
               a.i-rss(href="")
         .cert-logos
            .cert-logo
               img(src="../img/visa.png" alt="")
            .cert-logo.cert-logo2
               img(src="../img/securecode.png" alt="")
         ul.footer-list-1
            li
               a.test-hover-green(href="/") Главная
            li
               a.test-hover-green(href="/rates.html") Тарифы
            li
               a.test-hover-green(href="/partners.html") Партнерам
            li
               a.test-hover-green(href="/news.html") Блог
         ul.footer-list-2
            li
               a.test-hover-green(href="/") Главная
            li
               a.test-hover-green(href="/rates.html") Тарифы
            li
               a.test-hover-green(href="/partners.html") Партнерам
            li
               a.test-hover-green(href="/news.html") Блог

         //.flex
            .comodologo
         ul.footer_grafic
            li.wtime
               p Рабочий график:
            li.wtimegraf
               p ПН-ПТ: #[span.wtimegraf-fat 09:00-22:00] #[span.wtimegraf-small по Киеву]

            li.wdaygraf
               p СБ-ВС: свободный график
            li
               a.reglament(href="/rules.html") Регламент нашей компании

         ul.footer_contact
            li
               a.footer_number(href="tel:08003333333") СВЯЖИТЕСЬ С НАМИ

            li
               a.footer_href_other(href="/contact.html") Написать в поддержку
            li
               .cert-logos
                  .cert-logo
                     img(src="../img/visa.png" alt="")
                  .cert-logo.cert-logo2
                     img(src="../img/securecode.png" alt="")
      p
         | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.


//- Up Button
a.button_up(href="#header")
   .i-arrows-up
   | Наверх
