header.header(id='header' role='banner')
   .header_all
      ul.menu__box
         li
            a.menu__item(href="/") ГЛАВНАЯ
         li
            a.menu__item(href="/rates.html") ТАРИФЫ
         li
            a.menu__item(href="/partners.html") ПАРТНЕРАМ
         li
            a.menu__item(href="/news.html") БЛОГ
         li
            a.menu__item(href="/contact.html") ПОДДЕРЖКА
         li
            a.menu__item(href="/investors.html") ОБМЕН
      .header_all_mid.flex-sb
         a.header-logo.big(href="index.html")
            img(src="../img/header-logo.svg" alt="Smart Pays")
         nav.header-nav.flex-sb
            a(href="/") ГЛАВНАЯ
            a(href="/rates.html") ТАРИФЫ
            a(href="/partners.html") ПАРТНЕРАМ
            a(href="/news.html") БЛОГ
            a(href="/contact.html") ПОДДЕРЖКА
            a(href="/investors.html") ОБМЕН
            .language-select#full-header-lang
               input(type='radio' name='language-select' id="language-select1" onclick="menuToggle()" checked)
               label(for='language-select1')
                  .span UA
               input(type='radio' name='language-select' id="language-select2" onclick="menuToggle()")
               label(for='language-select2')
                  .span EN
               input(type='radio' name='language-select' id="language-select3" onclick="menuToggle()")
               label(for='language-select3')
                  .span RU
            .header-log.flex
               label.border-r.authBtn(onclick="$('#auth').prop('checked', true)") Войти
               label.border-r.reg.regBtn(onclick="$('#registr').prop('checked', true)") Регистрация

         .header-mobile
            svg.user-icon(onclick="$('#auth').prop('checked', true)" version="1.1" id="Capa_1"  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" fill="#fff" viewBox="0 0 488.2 488.2" style="enable-background:new 0 0 488.2 488.2;" xml:space="preserve")
               path(d='M468.8,149.05c-12.3-29.1-29.9-55.1-52.3-77.6c-22.4-22.4-48.5-40-77.6-52.3c-30-12.6-62-19.1-94.9-19.1s-64.9,6.5-95,19.2\
               \t\tc-29,12.3-55.1,29.9-77.5,52.3s-40,48.5-52.3,77.6c-12.7,30-19.2,62-19.2,94.9s6.5,64.9,19.2,95c12.3,29.1,29.9,55.2,52.3,77.6\
               \t\tc22.4,22.4,48.5,40,77.6,52.3c30.1,12.7,62.1,19.2,95,19.2s64.9-6.5,95-19.2c29.1-12.3,55.1-29.9,77.6-52.3\
               \t\tc22.4-22.4,40-48.5,52.3-77.6c12.7-30.1,19.2-62.1,19.2-95S481.5,179.15,468.8,149.05z M398.7,373.35c-1.9-5-5.1-9.5-9.3-12.9\
               \t\tc-39.9-32.8-83-54.6-91.8-58.9c-1-0.5-1.6-1.5-1.6-2.6v-62.2c7.8-5.2,13-14.1,13-24.2v-64.5c0-32.1-26-58.1-58.1-58.1H244h-6.9\
               \t\tc-32.1,0-58.1,26-58.1,58.1v64.5c0,10.1,5.2,19,13,24.2v62.2c0,1.1-0.6,2.1-1.6,2.6c-8.8,4.3-51.8,26.1-91.8,58.9\
               \t\tc-4.2,3.5-7.4,8-9.3,12.9c-29.3-35-47-80.1-47-129.3c0-111.2,90.5-201.7,201.7-201.7s201.7,90.5,201.7,201.7\
               \t\tC445.7,293.25,428.1,338.35,398.7,373.35z')

            .hamburger-menu
               input#menu__toggle(type='checkbox')
               label.menu__btn(for='menu__toggle' onclick="$('.header_all .menu__box').toggleClass('menu-toggle')")
                  span


      .header_all_content
         .header_all_content_window
            //input(type="radio" checked name="header-slider-input" id="header-slider-input1")
            //input(type="radio" name="header-slider-input" id="header-slider-input2")
            //input(type="radio" name="header-slider-input" id="header-slider-input3")
            //input(type="radio" name="header-slider-input" id="header-slider-input4")
            .header_all_content_slider-box.swiper-container
               .header_all_content_slider-box_wrapper.flex-sb.swiper-wrapper
                  .header-news.swiper-slide
                     h1 Добро пожаловать на Smart Pays! 1
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt

                     a.button.b-blue.border-r Подробнее
                  .header-news.swiper-slide
                     h1 Добро пожаловать на Smart Pays! 2
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt

                     a.button.b-blue.border-r Подробнее
                  .header-news.swiper-slide
                     h1 Добро пожаловать на Smart Pays! 3
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt

                     a.button.b-blue.border-r Подробнее
                  .header-news.swiper-slide
                     h1 Добро пожаловать на Smart Pays! 4
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt

                     a.button.b-blue.border-r Подробнее
               .swiper-pagination
            .header_all_content_window_dots.flex
               //label.nav-dot(id="header-slider-dot1" for="header-slider-input1")
               //label.nav-dot(id="header-slider-dot2" for="header-slider-input2")
               //label.nav-dot(id="header-slider-dot3" for="header-slider-input3")
               //label.nav-dot(id="header-slider-dot4" for="header-slider-input4")
         .header-logos
            .header-logo1
               img(src="../img/header-trustpilot.png" alt="")
            .header-logo2
               img(src="../img/header-bestchange.png" alt="")
   .change-button
      a(href="#main") #[span.btnText ОБМЕНЯТЬ #[br] #[.i-doublenext]]
