mixin last-exchanges-widget()
    .last-exchanges-widget__container#last-exchanges-widget&attributes(attributes)
        section.last-exchanges-widget
                p.last-exchanges-widget__title Последние обмены
                .last-exchanges-widget__close.i-close(onclick="event.target.parentNode.style.display = 'none';")
                .last-exchanges-widget__wrapper
                    section.last-exchanges-widget__exchange.widget-exchange
                      .widget-exchange__body
                        .widget-exchange__country.logo-russia
                        .widget-exchange__date 08:12:03
                        .widget-exchange__divider
                        .widget-exchange__gave
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-ac
                        span.widget-exchange__arrow.i-next
                        .widget-exchange__received
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-btc
                    section.last-exchanges-widget__exchange.widget-exchange
                      .widget-exchange__body
                        .widget-exchange__country.logo-russia
                        .widget-exchange__date 08:12:03
                        .widget-exchange__divider
                        .widget-exchange__gave
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-ac
                        span.widget-exchange__arrow.i-next
                        .widget-exchange__received
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-btc
                    section.last-exchanges-widget__exchange.widget-exchange
                      .widget-exchange__body
                        .widget-exchange__country.logo-russia
                        .widget-exchange__date 08:12:03
                        .widget-exchange__divider
                        .widget-exchange__gave
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-ac
                        span.widget-exchange__arrow.i-next
                        .widget-exchange__received
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-btc
                    section.last-exchanges-widget__exchange.widget-exchange
                      .widget-exchange__body
                        .widget-exchange__country.logo-russia
                        .widget-exchange__date 08:12:03
                        .widget-exchange__divider
                        .widget-exchange__gave
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-ac
                        span.widget-exchange__arrow.i-next
                        .widget-exchange__received
                            .widget-exchange__value 530.00
                            .widget-exchange__payment-system.logo-btc
