doctype html

//- Global variables
block vars

//- Template
html(lang="" + page.language)
   include ../partials/head

   body(id='body')
      input.popup-input(type='checkbox' id='xpay')
      .x-pay.popup.flex
         label(for='xpay').popup_bg
         .x-pay_body.border-r
            .x-pay_img
            .x-pay_text
               h1 Добро пожаловать!
               p На данный момент на сайте ведутся технические работы. В течении
                  span.border-r 15д. 45ч.
                  | сервис заработает.
               p.italic Мы заботимся о качестве обслуживаения. И уделяем время каждому клиенту индивидуально.
                  br
                  | Благодарим за выбор обменника X-PAY
      .cookie
         .cookie-button
            a.i-close(onclick="document.getElementsByClassName('cookie')[0].style.display='none'" )
         .cookie-content.flex
            .cookie-text
               p Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookie, которые обеспечивают правильную работу сайта.

      .notification
         .warning
            .flex-sb
               .i-warning.red-star
               p В связи с тем ,что не работает сайт btc-e.com возникли задержки в обработке заявок. Заявки будут обработаны сразу как заработает сайт btc-e.com
               button.i-close(onclick="document.getElementsByClassName('notification')[0].style.display='none'")

      //- Header
      include ../partials/header

      //- Content
      main(role='main')#main
         block content

      //- Footer
      include ../partials/footer

      //- Inline JS
      script
         include ../../js/language.js

      //- Scripts
      script(type='text/javascript', src='./js/jquery-3.5.1.min.js')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.helper.ie8.min.js')
      script(type='text/javascript', src='./js/script.js')
