doctype html
html
   head
      meta(charset='utf-8')
      //- Styles
      link(rel='stylesheet', property='stylesheet', type='text/css', href='css/404.css')
      link(rel='stylesheet', property='stylesheet', type='text/css', href='css/style.css')

   body
      include ../views/partials/header-lk

      main.main-bg
         .centr
            h2 404
            p Запрашиваемая Вами страница не найдена...
            a.button.b-blue.border-r Назад на главную
      include ../views/partials/footer
      //- footer
      //-    .footer(role='contentinfo')
      //-       .flex-sb
      //-          ul
      //-             li
      //-                a(href="/")
      //-                   img.footer_logo1(src="../img/footer/smart.png" alt="Smart Pays")
      //-             li
      //-                p.footer_text__mod_col Copyright 2018 Smart-Pays.
      //-             li.footer_social
      //-                a.i-vk(href="https://vk.com/smartexchange")
      //-                a.i-fb(href="")
      //-                a.i-tw(href="https://twitter.com/Smart_pays")
      //-                a.i-rss(href="")
      //-          ul
      //-             li
      //-                a.test-hover-green(href="/") Главная
      //-             li
      //-                a.test-hover-green(href="/rates.html") Тарифы
      //-             li
      //-                a.test-hover-green(href="/partners.html") Партнерам
      //-             li
      //-                a.test-hover-green(href="/news.html") Блог
      //-          ul
      //-             li
      //-                a.test-hover-green(href="/") Главная
      //-             li
      //-                a.test-hover-green(href="/rates.html") Тарифы
      //-             li
      //-                a.test-hover-green(href="/partners.html") Партнерам
      //-             li
      //-                a.test-hover-green(href="/news.html") Блог
      //-          .flex
      //-             .comodologo
      //-          ul.footer_grafic
      //-             li
      //-                p Рабочий график:
      //-             li
      //-                p Пн. - Пт. с
      //-                   span 09:00
      //-                   | до
      //-                   span 22:00
      //-                   | по Киеву.
      //-             li
      //-                p Сб.- Вс. свободный график.
      //-             li
      //-                a.reglament(href="") Регламент нашей компании

      //-          ul.footer_contact
      //-             li
      //-                a.footer_number(href="tel:08003333333") 0 800 33 333 33
      //-             li
      //-                p Бесплатно с моб. по Украине
      //-             li
      //-                a.footer_href_other(href="/contact.html") Другие контакты
      //-       p
      //-          | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.


      //- Scripts
      script(type='text/javascript', src='js/particles.js')
      script(type='text/javascript', src='js/404.js')