extends layouts/layout-aside

block vars
   -
      page = {
      language: "ru",
      title: "Обмен электронных валют – Инвесторам",
      desc: "Заработок для партнеров электронного обменника валют.",
      keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, партнерам, партнерка, рефералы, заработок, заработок в интернете",
      author: "1000.tech",
      appTitle: "Smart Pays",
      type: "website",
      card: "summary",
      image: "img/test-img.jpg",
      url: "https://smart-pays.com",
      site_name: "Smart Pays",
      domain: "smart-pays.com"
      }

block content
   include ./partials/popups
   .lk_main
      h2.title.exchange-title
         p ОБМЕН
         .exchange-title_money
            .pm_icon.pm
            p PERFECT MONEY USD
         p НА
         .exchange-title_money
            .pm_icon.ac
            p PAYER RUB
      .exchange-steps.flex-sa
         .exchange-steps_step.flex.active
            .circle.flex.flex-shrink
               p 1
            p Впишите сумму и заполните данные
         .exchange-steps_space
         .exchange-steps_step.flex
            .circle.flex.flex-shrink
               p 2
            p Проверьте данные и получите инструкции
         .exchange-steps_space
         .exchange-steps_step.flex
            .circle.flex.flex-shrink
               p 3
            p Оплатите заявку
      .exchange-triple.flex.border-r.text-margin
         .exchange-triple_left
             h2.title.lk-title.tbigAtt #[img.attImg(src="../img/attention.svg")]ОБРАТИТЕ ВНИМАНИЕ
             .lk-text.tTextFor Для обмена SolidTrustPay вам нужно выполнить #[br] следующие требования:
             ul.document-list.ex-dlist
                 li.tStepFor
                     .counter 1
                     p Если сумма обмена превышает 150$, нужно пройти регистрацию #[br] и верификацию личности на нашем сайте
                 li.tStepFor
                     .counter 2
                     p Ваш счет в SolidTrustPay должен быть уровня #[br] STANDART VERIFIED или выше
                 li.tStepFor
                     .counter 3
                     p Для успешной оплаты у вас в аккаунте SolidTrustPay длжна быть #[br] активирована двухфакторная аутентификация
         .exchange-triple_right.as_strech
            .flex.border_bot.flex-shrink
               .exchange-triple_right_text
                  .auto-ex
                  //- .manual-ex ruchnoi
                  .ex-mode-text
                     p АВТОМАТИЧЕСКИЙ #[br] ОБМЕН
            .flex-center.flex-grow.exchange-triple_right_step2
               .ex-bottom-text
                  p Автоматический обмен проводится #[br] круглосуточно в течении 2 минут #[br] #[a(href="#").ex-read-reg Читать весь регламент]
      .inline-text-course
         .part1.inline
            p.big Курс обмена:
            p.lit 1 USD = 66,0714 RUB
         .part2.inline
            p.big Резерв:
            p.lit 1908567,47 RUB
            a.less(href="#") Мало?

      section.exchanging-forms
         .exchanging-forms__swap-sys.swap-sys
            button.i-circlearrows.swap-sys__btn(onclick="swapSystemFields()")
            .swap-sys__tooltip.tooltip
               p Обратный обмен
         section.exchanging-forms__wrapper#pay-form
            .exchanging-forms__form-title Отдаете
            .exchanging-forms__exchanging-form.exchanging-form
               .exchanging-form__payment-info.payment-info
                  .exchanging-form__help-message
                     p This is sparta
                  .payment-info__system-select.system-select.custom-select
                     select(name='system-give')
                        option(value='okpay' selected)
                        option(value='skrill')
                        option(value='privat24')
                     .custom-select__selected
                        .system-select__item
                           .test.okpay
                           span OkPay
                        .i-next
                     .custom-select__items
                        .system-select__item.same-as-selected
                           .test.okpay
                           span OkPay
                        .system-select__item
                           .test.skrill
                           span Skrill
                        .system-select__item
                           .test.privat24
                           span Privat24
                  .payment-info__valute-select.valute-select.custom-select
                     select(name='valute-give')
                        option(value='usd' selected)
                        option(value='rub')
                        option(value='uah')
                     .custom-select__selected
                        .valute-select__item
                           span USD
                     .custom-select__items
                        .valute-select__item.same-as-selected
                           span USD
                        .valute-select__item
                           span RUB
                        .valute-select__item
                           span UAH
               .exchanging-form__min-max-value
                  p min: #[b 5] #[span USD]; max: #[b 100] #[span USD]
               .exchanging-form__value.form-group
                  input(id="exchange-give-value" type="number" name="exchange-give-value")
                  label.exchanging-form__field-label(for="exchange-give-value")
                     p Сумма
                        span.red-star *
               .exchanging-form__final-value
                  p #[b 102] #[span USD] с учетом комисии OKPay
               .exchanging-form__account.form-group
                  input(type="number" id="exchange-account-give" name="exchange-account-give")
                  .exchanging-form__tooltip.tooltip
                     p Номер счета состоит из 16ти цифр
                  label.exchanging-form__field-label(for="exchange-account-give")
                     p Со счета
                        span.red-star *
               .exchanging-form__verify-account
                  input(type="checkbox" id="verify-account" name="verify-account")
                  label(for='verify-account')
                     .agree-ok
                        p.i-check
                     p Мой счет верифицирован
               .exchanging-form__verification.ef-verify
                  .ef-verify__calendar.form-group
                     input(type="text" id="verify-date" name="verify-date")
                     label.exchanging-form__field-label(for="verify-date")
                        p Выберите дату
                     .i-next
                  .ef-verify__test.form-group
                     input(type="text" id="test1" name="test1")
                     label.exchanging-form__field-label(for="test1")
                        p Тратата
                  .ef-verify__test.form-group
                     input(type="text" id="test2" name="test2")
                     label.exchanging-form__field-label(for="test2")
                        p Тратата
         section.exchanging-forms__wrapper#receive-form
            .exchanging-forms__form-title Получаете
            .exchanging-forms__exchanging-form.exchanging-form
               .exchanging-form__payment-info.payment-info
                  .exchanging-form__help-message
                     p This is sparta
                  .payment-info__system-select.system-select.custom-select
                     select(name='system-receive')
                        option(value='okpay' selected)
                        option(value='skrill')
                        option(value='privat24')
                     .custom-select__selected
                        .system-select__item
                           .test.okpay
                           span OkPay
                        .i-next
                     .custom-select__items
                        .system-select__item.same-as-selected
                           .test.okpay
                           span OkPay
                        .system-select__item
                           .test.skrill
                           span Skrill
                        .system-select__item
                           .test.privat24
                           span Privat24
                  .payment-info__valute-select.valute-select.custom-select
                     select(name='valute-receive')
                        option(value='usd' selected)
                        option(value='rub')
                        option(value='uah')
                     .custom-select__selected
                        .valute-select__item
                           span USD
                     .custom-select__items
                        .valute-select__item.same-as-selected
                           span USD
                        .valute-select__item
                           span RUB
                        .valute-select__item
                           span UAH
               .exchanging-form__min-max-value
                  p min: #[b 5] #[span USD]; max: #[b 100] #[span USD]
               .exchanging-form__value.form-group
                  input(id="exchange-receive-value" type="number" name="exchange-receive-value")
                  label.exchanging-form__field-label(for="exchange-receive-value")
                     p Сумма
                        span.red-star *
               .exchanging-form__final-value
                  p #[b 102] #[span USD] с учетом комисии OKPay
               .exchanging-form__account.form-group
                  input(type="number" id="exchange-account-receive" name="exchange-account-receive")
                  .exchanging-form__tooltip.tooltip
                     p Номер счета состоит из 16ти цифр
                  label.exchanging-form__field-label(for="exchange-account-receive")
                     p На счет
                        span.red-star *


      p.exchange-cashback-text #[span(onclick="$('#registr').prop('checked', true)") Зарегистрируйтесь], чтобы получить #[b 30 ГРН КЭШБЕКА] на Ваш счёт.
      h2.title.uppercase.text-margin(style="margin-top:30px;") Личные данные
      .exchange-personal.flex-sb.border-r.border
         ul(style="flex: 0 1 50%")
            li
               input.input-form(id="pd-login2" required)
               label.label-star-red(for="pd-login2")
                  p Имя
                     span.red-star *
            li
               input.input-form(id="pd-login3" required)
               label.label-star-red(for="pd-login3")
                  p Фамилия
                     span.red-star *
         ul(style="flex: 0 1 50%")
            li
               input.input-form(id="pd-login4" required)
               label.label-star-red(for="pd-login4")
                  p Телефон
                     span.red-star *
            li
               input.input-form(id="pd-login5" required)
               label.label-star-red(for="pd-login5")
                  p E-mail
         .exchange-personal__select-address.ep-address
            .ep-address__country.dropdown-search
               .dropdown-search__selected.form-group
                  input(type='text' id="personal-country" name="personal-country")
                  label(for="personal-country")
                     p Выберите свою страну
                  .i-next
               .dropdown-search__items
                  .dropdown-search__item
                     .logo-russia
                     span Украина
                  .dropdown-search__item
                     .logo-russia
                     span Россия
                  .dropdown-search__item
                     .logo-ukraine
                     span Украина
                  .dropdown-search__item
                     .logo-russia
                     span Украина
                  .dropdown-search__item
                     .logo-russia
                     span Украина
                  .dropdown-search__item
                     .logo-russia
                     span Украина
            .ep-address__town.dropdown-search
               .dropdown-search__selected.form-group
                  input(type='text' id="personal-town" name="personal-town")
                  .tooltip
                     p Не удалось найти такой город или страну
                  label(for="personal-town")
                     p Выберите свой город
                  .i-next
               .dropdown-search__items
                  .dropdown-search__item
                     span Ростов
                  .dropdown-search__item
                     span Киев
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина

      .flex-sb.exchange-agree.text-margin
         .user-license.flex-shrink
            input(type="checkbox" id="license-agree2" name="license-agree2")
            label.flex(for='license-agree2')
               .agree-ok
                  p.i-check
               p Запомнить мои данные
         .user-license.flex-shrink
            input(type="checkbox" id="license-agree3" required name="license-agree3")
            label.flex(for='license-agree3')
               .agree-ok
                  p.i-check
               p Я согласен с условиями и правилами сервиса
         input.button.b-blue.border-r(type='submit' onclick="checkFields('.lk_main')" value='Обменять')

   link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
   script(src="https://cdn.jsdelivr.net/npm/flatpickr")
   script
      include ../js/datePickers/exchange-from.js


block aside
   //- h2.title.underline НОВОСТИ
   //- ul.aside-news.news_colum.border-r
   //-    li
   //-       .date.date-dark
   //-          .i-calendar
   //-          span 6 марта, 2017
   //-       .news_text
   //-          a.text-hover-green This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit
   //-    li
   //-       .date.date-dark
   //-          .i-calendar
   //-          span 6 марта, 2017
   //-       .news_text
   //-          a.text-hover-green This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit
   //-    li
   //-       .date.date-dark
   //-          .i-calendar
   //-          span 6 марта, 2017
   //-       .news_text
   //-          a.text-hover-green This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit
   //-    li
   //-       a.news-more2("/news.html") Все новости


