extends layouts/layout-knowledgebase

block vars
    -
        page = {
        language: "ru",
        title: "Обмен электронных валют – База знаний",
        desc: "Заработок для партнеров электронного обменника валют.",
        keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, партнерам, партнерка, рефералы, заработок, заработок в интернете",
        author: "1000.tech",
        appTitle: "Smart Pays",
        type: "website",
        card: "summary",
        image: "img/test-img.jpg",
        url: "https://smart-pays.com",
        site_name: "Smart Pays",
        domain: "smart-pays.com"
        }

block content  
    .inner-block
        .inner-inline.hb
            .title-text-hb
                p База знаний
            .pan
                a(href="#" onclick="switchView('pan')") #[.i-pan.pan-img]
            .line
                a(href="#" onclick="switchView('line')") #[.i-line.line-img.cur]
        .newsnn#L-inline
            .form-nn
                .newsnn-header
                    a(href="#") Как сделать вывод без комиссии
                .date
                    img.icon(src="../img/calendar.svg" alt="")
                    p 13 марта, 2017
                .inner-inline
                    img.image(src="../img/news-thumb.png" alt="")
                    .content-text
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            .form-nn
                .newsnn-header
                    a(href="#") Как сделать вывод без комиссии
                .date
                    img.icon(src="../img/calendar.svg" alt="")
                    p 13 марта, 2017
                .inner-inline
                    img.image(src="../img/news-thumb.png" alt="")
                    .content-text
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            .form-nn
                .newsnn-header
                    a(href="#") Как сделать вывод без комиссии
                .date
                    img.icon(src="../img/calendar.svg" alt="")
                    p 13 марта, 2017
                .inner-inline
                    img.image(src="../img/news-thumb.png" alt="")
                    .content-text
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            .form-nn
                .newsnn-header
                    a(href="#") Как сделать вывод без комиссии
                .date
                    img.icon(src="../img/calendar.svg" alt="")
                    p 13 марта, 2017
                .inner-inline
                    img.image(src="../img/news-thumb.png" alt="")
                    .content-text
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            .form-nn
                .newsnn-header
                    a(href="#") Как сделать вывод без комиссии
                .date
                    img.icon(src="../img/calendar.svg" alt="")
                    p 13 марта, 2017
                .inner-inline
                    img.image(src="../img/news-thumb.png" alt="")
                    .content-text
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.

       
    .newsnn#Pan(style="display:none")
        .row
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
        .row
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
        .row
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017
            .col-md-3
                .form-nn
                    img.image(src="../img/news-thumb.png" alt="")
                    .newsnn-header
                        a(href="#") Как сделать вывод без комиссии
                    .content-text
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    .date
                        img.icon(src="../img/calendar.svg" alt="")
                        p 13 марта, 2017



    .navig
        .inner-inline
            a.link(href="#") #[img.pages-handle(src="../img/back-end.png" alt="")]
            a.link(href="#") #[img.pages-handle(src="../img/back-one.png" alt="")]
            span.link2 .. 
            a.link(href="#") 3
            a.link(href="#") 4
            a.link.active-link(href="#") 5
            a.link(href="#") 6
            a.link(href="#") 7
            span.link2 ..
            a.link(href="#") #[img.pages-handle(src="../img/next-one.png" alt="")]
            a.link(href="#") #[img.pages-handle(src="../img/next-end.png" alt="")]
    .subscription
        .subs
            .htitle
                p Подписывайтесь на рассылку наших лучших материалов:
            .inner-inline.subs-content
                .input
                    input.input-form(type="text" placeholder="E-mail")
                .button-send
                    a.button.b-blue.border-r(onclick="$('#msgDone').addClass('show')") Подписаться

                .social-icons
                    .inner-inline
                        .icon
                            a(href="https://vk.com/smartexchange") #[.i-vk]
                        .icon
                            .i-fb
                        .icon
                            a(href="https://twitter.com/Smart_pays") #[.i-tw]
                        .icon
                            a(href="https://t.me/smartpays") #[.i-tg]
            .green-message#msgDone
                p Подписка успешно оформлена.