extends layouts/layout-aside-lk

block vars
   -
      page = {
         language: "ru",
         title: "Обмен электронных валют",
         desc: "Электронный обменник валют. Выгодный обмен электронных валют онлайн. PerfectMoney, Payeer, Яндекс.Деньги, Advanced cash, Skrill, Neteller, SolidTrustPay, Приватбанк, Сбербанк, Альфабанк, Visa/MasterCard, Western uniоn, MoneyGram, RIA USD, Золотая Корона",
         keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, перфект мани обмен, перфект мани, perfect money, обмен perfect money, купить perfect, обмен payeer, payeer perfect, Золотая корона обмен, приват 24 обмен, обмен advcash, обмен moneygram, вестерн юнион обмен, ria usd, OOOPay",
         author: "1000.tech",
         appTitle: "Smart Pays",
         type: "website",
         card: "summary",
         image: "img/test-img.jpg",
         url: "https://smart-pays.com",
         site_name: "Smart Pays",
         domain: "smart-pays.com"
      }

block content
   include ./partials/popups
   .lk_main
      input.popup-input(type='checkbox' id='verification-id')
      .popup.flex
         label(for='verification-id').popup_bg
         .verification-id.border-r
            h2.title ПРИМЕР ФОТО С ВАШИМ ID (1)
            label(for='verification-id').i-cancel.lkvr
      input.popup-input(type='checkbox' id='verification-id2')
      .popup.flex
         label(for='verification-id2').popup_bg
         .verification-id2.border-r
            h2.title ПРИМЕР ФОТО С ВАШИМ ID (2)
            label(for='verification-id2').i-cancel.lkvr

      h2.title ВЕРИФИКАЦИЯ ЛИЧНОСТИ
      p.lk-text В этом разделе Вы можете настроить верификацию личности.
         br
         | Особенно рекомендуем Вам это сделать, если Вы участвуете в нашей партнерской программе.
      .lk-normes
         p.lk-text Согласно нашим
            a.text-b-un правилам
            | и
            a.text-b-un «политики противодействия отмыванию денежных средств»
            | , мы проводим верификацию личности наших клиентов. Вам необходимо пройти процедуру верификации личности для открытия возможности совершать обмен через наш сервис. Все Ваши персональные данные полностью защищены согласно
            a.text-b-un «политики конфиденциальности»
            | .Данная процедура проводится добровольно и единожды. Данные указанные при верификации, должны быть достоверными. Если Вы опасаетесь за предоставляемые Вами документы, Вы можете написать на сканах, что они предоставляются «для сайта smart-pays.com».
         p.lk-text
            strong Внимание!&nbsp;
            | В верификации может быть отказано по следующим причинам: предоставлены не все документы, документы не надлежащего качества.
      //h2.title.lk-title  ДЛЯ ПРОХОЖДЕНИЕ ВЕРИФИКАЦИИ ПРИКРЕПИТЕ СЛЕДУЮЩИЕ ДОКУМЕНТЫ:
      //ul.document-list
         li
            .counter 1
            p ПАСПОРТ (ГЛАВНАЯ СТРАНИЦА ИЛИ ЛИЦЕВАЯ СТОРОНА)
               label(for='verification-id').text-b-un Пример
         li
            .counter 2
            p ПАСПОРТ (ВТОРАЯ СТРАНИЦА ИЛИ ОБРАТНАЯ СТОРОНА)
               label(for='verification-id2').text-b-un Пример
         li
            .counter 3
            P ДОКУМЕНТ ПОДТВЕРЖДАЮЩИЙ АДРЕС ПРОЖИВАНИЯ (ПРОПИСКА В ПАСПОРТЕ, ВЫПИСКА ИЗ БАНКА, КВИТАНЦИЯ ЗА КОММУНАЛЬНЫЕ УСЛУГИ ИЛИ ДРУГОЙ ДОКУМЕНТ)
         li.list-mark-b Документы должны быть четкими, цветными, полно размерными и в полном объёме. Допускается сканированные документы и фото.
         li.list-mark-b Срок обработки заявки на верификацию до
            span 24 часов

      h2.title(style="margin-top:45px; font-size: 18px;") ЗАПОЛНИТЕ ИНФОРМАЦИЮ О СЕБЕ И ПРИКРЕПИТЕ НЕОБХОДИМЫЕ ДОКУМЕНТЫ:
      p.lk-text
         span.red-star *
         | Поля отмеченные звездочкой обязательны к заполнению.
      form.verification
         ul.verification_data.flex-sb
            li
               input.input-form(id="verif-sename" required)
               label.label-star-red(for="verif-sename")
                  p Фамилия
                     span.red-star *
            li
               input.input-form(id="verif-name" required)
               label.label-star-red(for="verif-name")
                  p Имя
                     span.red-star *
            li
               input.input-form(id="father-name" required)
               label.label-star-red(for="father-name")
                  p Отчество
                     span.red-star *
            li.dropdown-search
               .dropdown-search__selected.form-group
                  input.input-form(id="verif-document" required)
                  label.label-star-red(for="verif-document")
                     p Выберите документ
                        span.red-star *
                  .i-next
               .dropdown-search__items
                  .dropdown-search__item
                     span Ростов
                  .dropdown-search__item
                     span Киев
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина

            li
               input.input-form(id="verif-pasport" required)
               label.label-star-red(for="verif-pasport")
                  p Серия и номер паспорта
                     span.red-star *
            li
               input.input-form(id="verif-email" required)
               label.label-star-red(for="verif-email")
                  p E-mail
                     span.red-star *
            li.dropdown-search
               .dropdown-search__selected.form-group
                  input.input-form(id="verif-country" required)
                  .tooltip
                     p Не удалось найти такую страну
                  label.label-star-red(for="verif-country")
                     p Выберите страну
                        span.red-star *
                  .i-next
               .dropdown-search__items
                  .dropdown-search__item
                     span Беларусь
                  .dropdown-search__item
                     span Россия
                  .dropdown-search__item
                     span Казахстан
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина
                  .dropdown-search__item
                     span Украина

            li
               input.input-form(id="verif-adres" required)
               label.label-star-red(for="verif-adres")
                  p Адрес проживания
                     span.red-star *
            li
               input.input-form(id="verif-tele" required)
               label.label-star-red(for="verif-tele")
                  p Телефон
                     span.red-star *


         ul.verification_foto
            li.choose-file
               .choose-file__file-numeration
                  p 1. Паспорт
                     span.red-star *
                  p (главная, лицевая сторона)
               .choose-file__body
                  .choose-file__button
                     label(for='verification-passport1') Выберите файл
                     input(type='file' id='verification-passport1' name='verification-passport1')
                  .choose-file__selected-files
                     .selected-file
                        span Файл не выбран
                  .choose-file__supported-formats
                     p (.gif, .jpg, .jpeg, .jpe, .png, макс. 4 МБ)
            li.choose-file
               .choose-file__file-numeration
                  p 2. Паспорт
                     span.red-star *
                  p (вторая, обратная сторона)
               .choose-file__body
                  .choose-file__button
                     label(for='verification-passport2') Выберите файл
                     input(type='file' id='verification-passport2' name='verification-passport2')
                  .choose-file__selected-files
                     .selected-file
                        span Файл не выбран
                  .choose-file__supported-formats
                     p (.gif, .jpg, .jpeg, .jpe, .png, макс. 4 МБ)
            li.choose-file
               .choose-file__file-numeration
                  p 3. Документ, подтверждающий адрес проживания
                     span.red-star *
               .choose-file__body
                  .choose-file__button
                     label(for='verification-address') Выберите файл
                     input(type='file' id='verification-address' name='verification-address')
                  .choose-file__selected-files
                     .selected-file
                        span 12345.png
                        span.i-close(onclick="event.target.parentNode.remove()")
                  .choose-file__supported-formats
                     p (.gif, .jpg, .jpeg, .jpe, .png, макс. 4 МБ)
         .verification__attention
            p
               |#[span Внимание!] Документы должны быть четкими, цветными, полно размерными и в полном объёме. Допускаются сканированные документы и фото.

         .verification__submit
            label(for='lk-verification-submit') Отправить на обработку
            input(type='submit' id='lk-verification-submit' name='lk-verification-submit')
            p *Срок обработки заявки на верификацию до #[span 24 часов].

      h2.title.lk-title ВАШИ ЗАЯВКИ НА ВЕРИФИКАЦИЮ
      table.lk-table(style="table-layout: fixed;")
         tr
            th(style="text-align: left;")
               p(style="padding-left:45px") ДАТА
            th
               p СТАТУС
            th
               p ПРИМЕЧАНИЯ
         tr
            td(style="text-align: left;")
               p(style="padding-left:15px") 12.01.2016, 12:30
            td.request-ok
            td
               p Наример, причина отклонения
