extends layouts/layout-contact

block vars
    -
        page = {
        language: "ru",
        title: "Электронный обменник валют - Новости",
        desc: "Электронный обменник валют. Выгодный обмен электронных валют онлайн. PerfectMoney, Payeer, Яндекс.Деньги, Advanced cash, Skrill, Neteller, SolidTrustPay, Приватбанк, Сбербанк, Альфабанк, Visa/MasterCard, Western uniоn, MoneyGram, RIA USD, Золотая Корона",
        keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, контакты, связь, телефон, время работы, график работы, обратная связь, jabber, icq",
        author: "1000.tech",
        appTitle: "Smart Pays",
        type: "website",
        card: "summary",
        image: "img/test-img.jpg",
        url: "https://smart-pays.com/feedback/",
        site_name: "Smart Pays",
        domain: "smart-pays.com"
        }

block content
    include ./partials/popups
    .share-fixed
      .share
         .button-block
            a.share-button  #[span.share-letter я] #[span.share-letter с] #[span.share-letter ь]#[span.share-letter т] #[span.share-letter и] #[span.share-letter л] #[span.share-letter е] #[span.share-letter д] #[span.share-letter о] #[span.share-letter п]
         .icons
            a.share-ic
               .i-fb
            a.share-ic
               .i-vk
            a.share-ic
               .i-tw
            a.share-ic
               .i-inst
            a.share-ic
               .i-viber
            a.share-ic
               .i-tg
            a.share-ic
               .i-whatsapp
    .lk_main
        .unfolded-news
            .top_news
                p Топ новость
            .unfolded-news_img
            h1.title ЗНАЧЕНИЕ BITCOIN НА РЫНКЕ КРИПТОВАЛЮТ
            P This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            P Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.
            P Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.Class aptent taciti sociosqu ad litora torquent per conubia nostra.
            P This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            p Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.
            p Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            .flex-sb
                .date.date-dark
                    .i-calendar
                    span 6 марта, 2017
                a.news-more2(href="knowledgebase.html") База знаний/Блог

