extends layouts/layout-aside

block vars
   -
      page = {
      language: "ru",
      title: "Партнерская программа",
      desc: "Заработок для партнеров электронного обменника валют.",
      keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, партнерам, партнерка, рефералы, заработок, заработок в интернете",
      author: "1000.tech",
      appTitle: "Smart Pays",
      type: "website",
      card: "summary",
      image: "img/test-img.jpg",
      url: "https://smart-pays.com/partneram/",
      site_name: "Smart Pays",
      domain: "smart-pays.com"
      }

block title

   input.popup-input(type='checkbox' id='xpay' checked)
   .x-pay.popup.flex
      label(for='xpay').popup_bg
      .x-pay_body.border-r
         .x-pay_img
         .x-pay_text
            h1 Добро пожаловать!
            p На данный момент на сайте ведутся технические работы. В течении
               span.border-r 15д. 45ч.
               | сервис заработает.
            p.italic Мы заботимся о качестве обслуживаения. И уделяем время каждому клиенту индивидуально.
               br
               | Благодарим за выбор обменника X-PAY

   .main-bg
      .lk-main-title
         h1.title.text-center ПАРТНЕРАМ
         p.lk-text
            | Сотрудничать с нами выгодно! Поучавствуйте в партнерской программе уже сейчас.
            br
            | Напишити нам в любое время на почту чтобы узнать подробности.
block content
   include ./partials/popups
   .lk_main
      .partners-banner.flex-sa.background-mod-dark.border-r
         .partners-banner_man.flex-shrink
         .partners-banner_text
            h6 ПЛАТИМ ВСЕМ ПАРТНЕРАМ
               p 25%
               | ОТ НАШЕГО ДОХОДА

      p.lk-text
         | Предлагаем вам поучаствовать в партнерской программе по привлечению клиентов. Зарегистрировавшись в нашей партнерской программе, вы будете получать процент от суммы обмена. После регистрации вы получите на выбор большое количество различных промо-материалов (тексты, баннеры), а также файл экспорта курсов для мониторингов. Все, что потребуется – это приглашать посетителей на наш сайт, размещая промо-материалы на своих домашних страницах, блогах, форумах, сервисах вопросов и ответов, досках объявлений и на других ресурсах. Ваша ссылка будет содержать уникальный код, который позволит определить, что посетитель пришел по ссылке именно от вас.
      p.lk-text
         strong Внимание!&nbsp;
         | Если Вы владелец популярного, посещаемого сайта обратитесь в поддержку и мы предложим Вам выгодные условия сотрудничества.

      h2.title.partners_title УСЛОВИЯ ПАРТНЕРСКОЙ ПРОГРАММЫ
      ul.document-list
         li
            .counter 1
            p.uppercase Начисления и выплаты по партнерской программе ведутся в долларах.
         li
            .counter 2
            p.uppercase Минимальная сумма для снятия заработанных денег с партнерского счета составляет 10 USD.
         li
            .counter 3
            p.uppercase За каждый совершенный обмен по вашей партнерской ссылке вы получаете #[br] вознаграждение в размере от 5% до 30% от суммы прибыли сервиса.
         span Процент отчислений зависит от суммы совершенных обменов по вашей партнерской ссылке:
         li.list-mark-b 1 000 — 5 000 USD — 5%
         li.list-mark-b 5 000 — 15 000 USD — 10%
         li.list-mark-b 15 000 — 30 000 USD — 15%
         li.list-mark-b 30 000 — 60 000 USD — 20%
         li.list-mark-b 60 000 — 100 000 USD — 25%
         li.list-mark-b свыше 100 000 USD — 30%
         li
            .counter 4
            p.uppercase Суммы партнерских вознаграждений могут быть со временем изменены.
         span При этом все заработанные средства сохраняются на счете с учетом действовавших ранее ставок.
            | По некоторым направлениям партнерский процент может не начисляться.
         li
            .counter 5
            p.uppercase.text-margin На странице, где вы публикуете о нас информацию должно быть четко #[br] указано об услугах, предоставляемых нашим сайтом.
         span В рекламных текстах запрещаются любые упоминания о наличии «бесплатных бонусов» на нашем сайте.
         li
            .counter 6
            p.uppercase Запрещается размещать партнерскую ссылку:
         li.list-mark-b В массовых рассылках писем (СПАМ);
         li.list-mark-b На сайтах, принудительно открывающих окна браузера, либо открывающих сайты в скрытых фреймах;
         li.list-mark-b На сайтах, распространяющих любые материалы, прямо или косвенно нарушающие законодательство Украины и РФ;
         li.list-mark-b На сайтах, публикующих списки сайтов с «бесплатными бонусами»;
         span Сайты, нарушающие одно или несколько вышеперечисленных правил, будут занесены в черный список нашей партнерской
            | программы. Оплата за посетителей, пришедших с подобных сайтов производиться не будет.
         li
            .counter 7
            p.uppercase Запрещается регистрироваться по своей реферальной ссылке с целью #[br] получения  денежного вознаграждения.
         li
            .counter 8
            p.uppercase Партнер несет полную ответственность за сохранность#[br] своих аутентификационных данных (логина и пароля) для доступа к аккаунту.
         li
            .counter 9
            p.uppercase Данные условия могут изменяться в одностороннем порядке без оповещения
               | участников программы, но с публикацией на этой странице и новостях.
         li
            .counter 10
            p.uppercase При несоблюдении данных условий аккаунт нарушителя будет заблокирован #[br]без выплат.
      .flex-sb.for-partners
         a
            .for-partners_img.forma4
            span Условия партнерской программы
         a
            .for-partners_img.forma3
            span Партнерский
               br
               | FAQ
         a
            .for-partners_img.forma2
            span Партнерский
               br
               | кабинет
         a
            .for-partners_img.forma5
            span Рекламные
               br
               | материалы
block aside
   