extends layouts/layout-rules
block vars
   -
      page = {
      language: "ru",
      title: "Обмен электронных валют – Инвесторам",
      desc: "Заработок для партнеров электронного обменника валют.",
      keywords: "выгодный обмен, обменник валют, электронный обменник, обмен электронных валют, обменный пункт электронных валют, обмен денег онлайн, партнерам, партнерка, рефералы, заработок, заработок в интернете",
      author: "1000.tech",
      appTitle: "Smart Pays",
      type: "website",
      card: "summary",
      image: "img/test-img.jpg",
      url: "https://smart-pays.com",
      site_name: "Smart Pays",
      domain: "smart-pays.com"
      }

block content
   include ./partials/popups
   .rules-page
      .big-text
         p ПРАВИЛА
      .content-text
         p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum condimentum lacinia. Aenean vel massa dignissim metus luctus lobortis vitae vel augue. Cras dapibus magna vitae felis blandit, a placerat est malesuada. Curabitur sit amet lacinia odio. Donec tortor ipsum, rutrum a venenatis sed, egestas et neque. Donec vitae rutrum nunc. Etiam id justo non velit vestibulum tempor ac ut tortor. Pellentesque nisi turpis, bibendum pretium nulla sagittis, cursus commodo tellus. Quisque id neque erat. Morbi urna erat, dictum at ultrices vitae, placerat vel augue. Aenean a tortor eleifend, bibendum est ac, aliquet libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus iaculis venenatis justo sit amet mollis. Cras sed diam pharetra justo interdum sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            |Donec et suscipit urna. Maecenas et neque id risus dictum placerat eu vel ligula. Proin tellus ante, hendrerit vitae iaculis vitae, pulvinar molestie felis. Nam ultricies, purus pharetra tempus efficitur, est urna aliquam arcu, id cursus diam sapien sit amet odio. In ullamcorper lacus metus, in elementum tortor tincidunt sed. Donec in orci in magna feugiat aliquam vitae eget lacus. Vestibulum ac ultrices ex. Morbi sed nibh non nibh mollis lacinia non nec turpis. Aenean varius vel nisl ac tempor.
      ul.list 
         .content-text
            p СПИСОК:
         li.el
            p Proin mattis ullamcorper pellentesque. 
         li.el
            p Donec fermentum enim et ante scelerisque sodales. Fusce hendrerit sem 
         li.el
            p non tristique porta. Etiam non orci bibendum, pretium massa eget, commodo magna. Integer euismod fringilla dui, vel rutrum nisl finibus nec. Pellentesque tristique lorem elit, quis sodales nulla finibus sed. Vivamus sed libero sodales sapien blandit pellentesque. Etiam varius vulputate est nec dictum. Quisque quam nulla, posuere ut dui et, tempor tincidunt quam. Ut pharetra congue auctor. Aenean tincidunt facilisis malesuada. Aenean neque dolor, venenatis eu varius vel, vulputate ut ligula.

      .content-text
         p Aliquam venenatis eleifend tortor, nec feugiat metus facilisis id. Sed ut elit at tortor vehicula rutrum ac eget nisl. Proin ornare et mauris quis blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut lacinia purus ut sapien luctus pharetra non vitae turpis. Ut libero lectus, fermentum id eros vitae, porttitor scelerisque massa. Sed suscipit sit amet orci ut laoreet. Mauris non nunc pharetra, accumsan metus vel, consequat ipsum. Etiam eu ex eget libero rutrum euismod et sed lectus. Cras vel pellentesque nulla, sed faucibus turpis. Quisque non tempor mi. Vestibulum sed semper dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris scelerisque porta dapibus.

      .content-text
         p Fusce commodo neque nec blandit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin nec ipsum euismod, tristique urna non, molestie nibh. Donec aliquam lacus eu ultrices laoreet. Sed ac volutpat enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur euismod scelerisque dignissim. Curabitur imperdiet nunc semper justo pulvinar viverra. Vivamus sed molestie est, nec lacinia mi. Ut eu leo a ipsum pretium consectetur nec suscipit mi. Nulla sit amet lectus ornare, posuere lorem at, malesuada libero. Mauris elementum quam ac velit dignissim commodo. Mauris varius quam non erat volutpat venenatis. Morbi sapien massa, commodo non ante ut, posuere iaculis est. Duis hendrerit ipsum vitae justo venenatis feugiat. Cras condimentum eleifend quam.

            |Aliquam a nibh eget urna suscipit elementum. Quisque ac finibus eros. Praesent finibus metus quis cursus euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer purus turpis, imperdiet vitae rutrum sit amet, luctus ut libero. Fusce sollicitudin tortor nec blandit accumsan. Maecenas condimentum ut mi ac fringilla. Sed sed neque sit amet magna placerat facilisis quis in ante. Vestibulum sed dictum nisi, eget vestibulum sapien. Nullam sollicitudin massa in dictum vulputate. Aliquam aliquam maximus quam tempor commodo. Vivamus porttitor, lectus ac feugiat lobortis, elit diam placerat purus, ut porta justo tortor non elit.

      .content-text
         p In consectetur, quam nec luctus elementum, est ligula aliquet enim, eu venenatis odio arcu vel mauris. Proin vitae nisl in lorem ultrices eleifend. Donec posuere fringilla sem, eget iaculis est lobortis condimentum. Cras bibendum sem quis ligula congue dapibus sed at velit. Phasellus vel mauris cursus, rhoncus risus consequat, imperdiet metus. Maecenas nec elementum metus. Sed ligula massa, molestie et quam id, molestie mattis nisl. Integer eu facilisis est. Nam ullamcorper luctus mi non mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis gravida dui at ultricies rhoncus. Vivamus dapibus dui a sem facilisis tincidunt.

            |In hac habitasse platea dictumst. Vivamus eget feugiat tellus, vitae volutpat nulla. In eleifend arcu ac metus luctus ultricies. Pellentesque mattis orci ante. Integer viverra ligula est, rutrum maximus eros eleifend vel. Etiam magna orci, blandit facilisis sapien vitae, fermentum consectetur ligula. Suspendisse blandit arcu quis accumsan aliquet. Phasellus eget dictum ex. Vestibulum sit amet imperdiet justo, id porta mauris. Pellentesque dapibus consequat est. Suspendisse aliquam, nunc vestibulum cursus tempor, nunc mi rhoncus felis, in lacinia augue leo a velit. Phasellus at viverra libero.

            |Sed lectus magna, ullamcorper nec aliquam nec, sagittis a eros. Morbi ante nulla, auctor at eleifend vel, pulvinar non augue. Proin fringilla maximus dictum. Nunc fringilla tempor maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate sem ligula, eget commodo nisl venenatis eu. Suspendisse dictum massa in ligula pellentesque condimentum. Vivamus hendrerit nulla velit. Ut at nisi risus. Sed vel mi dolor.

            |Quisque a risus at mauris rutrum maximus vitae non urna. Nam facilisis diam id turpis volutpat, vel suscipit purus ultrices. Curabitur suscipit maximus neque, at tincidunt lacus rhoncus sit amet. Nullam sed lectus nec ligula blandit lacinia id aliquam turpis. Aliquam suscipit eget leo ac porta. Sed at iaculis nunc, vel tempor tellus. Suspendisse lacus magna, feugiat eu orci in, vulputate imperdiet diam. Cras rutrum urna sed scelerisque efficitur. Sed sed lobortis turpis, sed eleifend magna. Quisque et vulputate dui. Suspendisse at augue aliquam, gravida ex vel, bibendum ex. Nullam sollicitudin interdum ante hendrerit molestie.

            |Etiam nisl neque, suscipit ac tincidunt vitae, ullamcorper nec massa. Nunc malesuada lorem ultricies, tempus eros at, maximus erat. Nam laoreet eros mauris, sit amet elementum sem bibendum a. Suspendisse ultrices condimentum congue. Donec porttitor lorem eu tellus convallis venenatis. Etiam porttitor risus magna, ac viverra odio porttitor eu. Ut et tempus dolor. Quisque quis felis scelerisque, mattis dolor ac, bibendum elit. Donec mi enim, dignissim eget gravida vitae, molestie nec nisi. Cras odio ante, pharetra a dolor posuere, efficitur suscipit dolor. Cras in molestie arcu. Cras tempor purus eros, vel congue diam sodales a.

            |Sed dolor velit, maximus nec sodales sit amet, sollicitudin sed mi. Ut porttitor metus lectus, non semper leo suscipit vitae. Praesent scelerisque rutrum dui id porta. Morbi mattis ornare magna, id consectetur mi mattis ut. Nunc vitae felis lorem. Nullam ultricies, ligula a semper blandit, lorem urna dignissim dolor, rutrum feugiat est urna eu ante. Aliquam ultricies, ipsum vel condimentum rutrum, felis purus pulvinar mauris, vel porttitor risus diam vitae purus. Ut feugiat ipsum sed turpis sagittis lacinia. Nulla interdum eros sit amet feugiat tincidunt. Nunc ac elit ante. Etiam placerat sollicitudin felis eu ultrices. Mauris at tortor vel augue dignissim faucibus. Mauris tristique lectus id dui faucibus, eu fringilla dui viverra.

            |Nullam vel mi eget sapien euismod interdum sit amet vitae diam. Donec nec odio ac mi consectetur congue vel vitae ex. Quisque a eleifend ligula. Quisque quam justo, lobortis fringilla sagittis sit amet, ornare ut purus. Nulla quis vulputate magna, quis molestie turpis. Donec arcu mi, feugiat eget arcu non, dictum dignissim nibh. Vestibulum ac gravida est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pretium, turpis eu aliquam elementum, est enim lobortis ex, et iaculis lectus nibh quis magna. Duis sit amet imperdiet enim. Etiam eget quam quis massa vehicula pulvinar quis vitae elit. In a dolor semper, viverra sapien ac, semper nunc. Aliquam sit amet ex consectetur, pellentesque ante quis, sollicitudin arcu. Nunc non felis ac tortor ullamcorper ultrices. Mauris blandit nunc ex, in consequat urna maximus a.

            |Etiam sit amet iaculis ante. Aliquam suscipit vehicula eros, ut porta ipsum condimentum eget. Sed vel risus ut enim congue egestas. Aenean scelerisque in enim id tristique. Cras dui ligula, porta ac purus eu, suscipit accumsan risus. Maecenas non metus sodales, tincidunt velit ornare, semper ante. In nec elit sit amet metus hendrerit faucibus nec maximus tellus. Nam a nibh libero. Quisque ut arcu ut diam tempus egestas. Etiam interdum sollicitudin odio a bibendum. Aenean vitae lacus urna.

            |Curabitur nec sem iaculis, efficitur odio sit amet, convallis libero. Donec at ex ac nulla condimentum hendrerit vel a velit. Mauris sollicitudin at sapien sed mattis. Aenean vel pharetra urna. Cras mattis ante vitae erat pellentesque venenatis. Suspendisse accumsan non lectus eget cursus. Praesent cursus at sapien aliquet fermentum. Maecenas tempus eros vel mi iaculis aliquam. Fusce lacinia quam mi, et pretium diam facilisis vitae. Integer vitae sem leo. Aliquam molestie tempor dignissim. Suspendisse laoreet maximus orci id iaculis. Vestibulum posuere, ipsum vitae cursus viverra, ligula odio condimentum augue, a fermentum nisl enim sed turpis. Sed varius orci et leo pretium, eu faucibus quam ullamcorper. Lorem.












