@font-face {
    font-family: "Whitney";
    src: url("../fonts/WhitneyBook.woff") format("woff"),
            url("../fonts/WhitneyBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "WhitneyLight";
    src: url("../fonts/WhitneyLight.woff") format("woff"),
            url("../fonts/WhitneyLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "WhitneyMedium";
    src: url("../fonts/WhitneyMedium.woff") format("woff"),
            url("../fonts/WhitneyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "WhitneySemiBold";
    src: url("../fonts/WhitneySemiBold.woff") format("woff"),
            url("../fonts/WhitneySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Whitney-Black";
    src:  url("../fonts/Whitney-Black.eot"),
            url("../fonts/Whitney-Black.woff") format("woff"),
            url("../fonts/Whitney-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}