@font-face
    font-family "icon-font"
    src: url('../fonts/icon-font.woff2') format('woff2'),
         url('../fonts/icon-font.ttf') format('truetype')

[class*="i-"]
    position relative
    display inline-block
    width 1em
    height 1em
    &:before
        font 14px 'icon-font'
        font-size inherit
        text-rendering optimizeLegibility
        speak none
        font-variant normal
        text-transform none
        color inherit
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)


.i-arrows-up:before
  content "\E001"

.i-at:before
  content "\E002"

.i-back:before
  content "\E003"

.i-briefcase:before
  content "\E004"

.i-calendar:before
  content "\E005"

.i-calendar_old:before
  content "\E006"

.i-call-answer:before
  content "\E007"

.i-cancel:before
  content "\E008"

.i-check:before
  content "\E009"

.i-circlearrows:before
  content "\E00A"

.i-clock:before
  content "\E00B"

.i-close:before
  content "\E00C"

.i-compl:before
  content "\E00D"

.i-credit-card:before
  content "\E00E"

.i-dot:before
  content "\E00F"

.i-doublenext:before
  content "\E010"

.i-down:before
  content "\E011"

.i-economic-growth:before
  content "\E012"

.i-email:before
  content "\E013"

.i-fb:before
  content "\E014"

.i-googleplus:before
  content "\E015"

.i-inst:before
  content "\E016"

.i-investlogo:before
  content "\E017"

.i-leader:before
  content "\E018"

.i-line:before
  content "\E019"

.i-list:before
  content "\E01A"

.i-longarrow:before
  content "\E01B"

.i-menu-lines:before
  content "\E01C"

.i-menu:before
  content "\E01D"

.i-next:before
  content "\E01E"

.i-pan:before
  content "\E01F"

.i-personal-id-card-of-a-man:before
  content "\E020"

.i-protection:before
  content "\E021"

.i-question:before
  content "\E022"

.i-quotes-up:before
  content "\E023"

.i-reload:before
  content "\E024"

.i-rss:before
  content "\E025"

.i-setti:before
  content "\E026"

.i-skype:before
  content "\E027"

.i-star:before
  content "\E028"

.i-tg:before
  content "\E029"

.i-tw:before
  content "\E02A"

.i-vcheck:before
  content "\E02B"

.i-verlogo:before
  content "\E02C"

.i-verlogo2:before
  content "\E02D"

.i-viber:before
  content "\E02E"

.i-vk:before
  content "\E02F"

.i-wallet:before
  content "\E030"

.i-warning:before
  content "\E031"

.i-whatsapp:before
  content "\E032"