@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vjc8ru');
  src:  url('../fonts/icomoon.eot?vjc8ru#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vjc8ru') format('truetype'),
    url('../fonts/icomoon.woff?vjc8ru') format('woff'),
    url('../fonts/icomoon.svg?vjc8ru#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-widget-whatsapp:before {
  content: "\e900";
}
.icon-widget-vk:before {
  content: "\e901";
}
.icon-widget-viber:before {
  content: "\e902";
}
.icon-widget-twitter:before {
  content: "\e903";
}
.icon-widget-telegram:before {
  content: "\e904";
}
.icon-widget-instagram:before {
  content: "\e905";
}
.icon-widget-fb:before {
  content: "\e906";
}
.icon-link-bold:before {
  content: "\e907";
}
.icon-link-regular:before {
  content: "\e908";
}
