.image:hover
    cursor pointer
.title-text-hb
    font-family: Whitney
    font-size: 22px
    margin-right: calc(50% - 147px)
    margin-bottom: 32px
    margin-top: 29px
    text-transform: uppercase
    letter-spacing: 0.5px
.pan
    font-size: 23px
    color: gray

    margin-top: 23px
    margin-right: 3px
.line
    margin-top: 6px
    color: gray
    font-size: 23px
    margin-top: 23px
    margin-left: 10px


main
    padding 0!important
    margin auto
.newsnn.global-inline
    display: inline-flex
    .form-nn
        width 100%
        max-width: 1180px
        .image
            width 150px
            height 90px
            border-radius: 5px
.newsnn.pan
    display:block
.hb
    width: 100%;
    justify-content: flex-end
.inner-inline
    display: inline-flex

.form-nn
    border: 1px solid #dee2e7;
    border-radius: 5px
    padding-left: 25px
    margin-bottom: 22px
    background: white
    padding-bottom: 25px
    padding-top: 10px

    .newsnn-header
        font-family: WhitneySemiBold
        font-size: 16.5px
            
        padding-top: 5px
        letter-spacing: 0.6px
    .newsnn-header:hover,.newsnn-header:focus
        a
            color $green
    .inner-inline
        display: inline-flex
    .date
        font-size: 13px
        font-family: Whitney 
        color: #a9b7c5
        margin-top: -1px
    .icon
        width: 15px 
        height 15px
        margin-right: 5px
    .content-text
        font-family: 'Whitney';
        padding-left: 25px;
        padding-top: 10px;
        line-height: 1.36;
        font-size: 12.5px;
        letter-spacing: .2px;
        padding-right: 13px;
        color: #4b555f;
    .image
        height: 90px;
        width: 150px;
.cur
    color: #00abec!important
.navig
    display: flex
    justify-content: center
    .cur
        color: #00abec!important
.pages-handle
    width: 7px
    height: 8px
    margin-bottom: 3px
    margin: 2px 3px
.link
    margin: 6px 3.5px
.active-link
    border: 1px solid #00abec!important
    border-radius: 4px!important
    padding: 2px 5px 1px!important
    margin-bottom: 12px!important
    margin-top: 4px!important
    color: #00abec!important
    font-weight: 600
.link2
    margin-top: 8px
.subscription
    width 100%
    max-width: 1180px
    height 150px
    background: #ebf1f7
    margin-top: 9px
    padding-top: 37px

    .htitle
        font-size: 23px
        font-family: Whitney
        text-transform: uppercase
        display: flex
        justify-content: center
        letter-spacing: -0.3px
    .input-form
        width: 200px
        height: 30px
        margin-left: 38px
    .subs-content
        display flex
        justify-content: center
        margin-top: 12px
    .button.b-blue
        width: 120px
        height: 30px
        padding: 3px 9px

.newsnn.pan
    display:block
.hb
    width: 100%;
    justify-content: flex-end
.inner-inline
    display: inline-flex
#Pan
    
    .row
        .form-nn
            border: 2px solid #dee2e7
            border-radius: 5px
            margin-bottom: 22px
            background: white
            padding: 0px 0px 4px
            
            .newsnn-header
                font-family: Whitney
                font-size: 16.5px
                padding: 4px 20px
            
                padding-top: 10px
                letter-spacing: 0.6px
            .inner
                display unset 
            .image
                width: 100%
                justify-content: center
                display: flex
                margin: auto
                width: 280px;
                height: 150px;
            .date
                font-size: 13px
                font-family: Whitney 
                color: #a9b7c5
                margin-top: 5px
                margin-left: 20px
            .icon
                width: 15px 
                height 15px
                margin-right: 5px
            .content-text
                font-family Whitney
                padding-left: 23px
                padding-top: 4px
                line-height: 1.36;
                font-size: 12.5px;
                letter-spacing: .2px;
                padding-right: 13px
                color: #4b555f;
                      
.cur
    color: #00abec!important
.navig
    display: flex
    justify-content: center
    margin-top: -16px
    .cur
        color: #00abec!important
    .link
        margin: 6px 3.5px
        transition color 100ms
    .link:hover
        color: #00abec
        text-decoration: underline
.pages-handle
    width: 7px
    height: 8px
    margin-bottom: 3px
    margin: 2px 3px

.active-link
    border: 1px solid #00abec!important
    border-radius: 4px!important
    padding: 2px 5px 1px!important
    margin-bottom: 12px!important
    margin-top: 4px!important
    color: #00abec!important
    font-weight: 600
.link2
    margin-top: 8px
.subscription
    width 100%
    max-width: 1180px
    height 150px
    background: #ebf1f7
    margin-top: 13px
    padding-top: 18px
    border-radius: 5px
    .htitle
        font-size: 23px
        font-family: Whitney
        text-transform: uppercase
        display: flex
        justify-content: center
        letter-spacing: -0.3px
    .input-form
        width: 200px
        height: 30px
        margin-left: 38px
    .subs-content
        display flex
        justify-content: center
        margin-top: 12px
    .button.b-blue
        width: 120px
        height: 30px
        padding: 3px 9px

.social-icons
        .icon
            margin-left: 11px
            .i-vk, .i-fb, .i-tg, .i-tw, .i-viber, .i-inst
                width:29px
                height 29px
                font-size: 14px
                color white
                border-radius: 50%
            .i-fb
                font-size: 16px
            .i-vk
                font-size: 12px
            .i-tw
                font-size: 17px
            .i-tg
                font-size: 16px
            .i-viber
                font-size: 27px
            .i-inst
                background: url(../img/inst-back.png)
                font-size: 19px
            .i-inst:hover
                background $green
            .i-inst:before
                padding-bottom: 2px
                padding-left: 2px
            .i-viber:before
                padding-left: 2px
                padding-bottom: 1px
    .green-message
        font-size: 13px
        font-family: WhitneyMedium, Whitney 
        color: #6db22a
        display:none
        justify-content: center
        margin-left: -225px
        margin-top: 5px
    .green-message.show
        display flex