body
    min-width 1200px

main
    padding 50px 0 0

// .cookie
//     position fixed
//     bottom 0
//     z-index 101
//     width 100%
//     background #f4f4f4
//     border-top 1px solid #dee2e7;
// .cookie-content
//     width 1180px
//     vertical-align center
//     margin auto
//     padding 15px 0
// .cookie-button
//     width 250px
//     margin-left 20px
.cert-title
    margin-bottom: 47px;
    padding-top: 13px;
    margin-bottom: 29px;
.cert-mc
    padding: 25px 0!important
.cookie
    position fixed
    bottom 0
    z-index 101
    width 100%
    background: rgb(126 157 188);
    color white
    font-size 14px
    height: 50px;
    padding-top: 16px;

.cookie-content
    width 80%
    display flex
    justify-content center
    margin auto
    padding 0
.cookie-button
    position: absolute;
    margin-left: 176px;
    width: 20px;
    top: 15px;
    height: 20px;
    color: #fff;
    z-index: 9999;
    left: 71%;
    .i-close
        width: 20px;
        height: 20px;
        font-size: 12px;
.cookie-text
    font-size: 12px
    text-align: left
    margin-left: -126px

#xpay:checked
    ~.x-pay
        display flex
.x-pay
    display none
    justify-content center
    &_body
        z-index 15
        position relative
        vertical-align center
        background white
        justify-content center
        width 720px
        padding 40px
        display flex
    &_img
        background-size 100%
        flex-shrink 0
        background-repeat no-repeat
        background-image url("../img/x-pay.png")
        height 160px
        width 160px
        margin-right 20px
    &_text
        h1
            font-size 24px
            letter-spacing -1px
            font-family WhitneySemiBold
        p
            font-size 12px
            padding 16px 0
            span
                display inline-block
                padding 3px 5px
                margin 0 3px
                background gold
            &.italic
                font-style italic
.main-bg
    width 100%
    background-position top
    background-size cover
    background-repeat no-repeat
    letter-spacing 0.35px

.exchange
    background-image url("../img/team.png")
    background-color $dark-blue
    .slide2
        border-radius 5px
    .i-star
        color #599abf
    h2.title
        color $white
        margin-bottom 28px
    .exchange-list__item
        overflow hidden
        &:nth-child(even)
            background rgba(255, 255, 255, 0.05)
    &_list
        width 580px
        .i-next
            color white
            font-size: 12px
        ul
            align-items center
            padding 4px 10px
            margin-bottom 5px
            li
                display flex
                justify-content space-between
                align-items center
                font-family WhitneySemiBold
                font-weight 400
                line-height 26px
                color $text-grey
                &:nth-child(3)
                    padding 0 14px
                &.flag
                    width 100%
                    p
                        font-size 14px
                        &:nth-child(2)
                            padding 0 20px
                            color: #ffffffd6;
                            font-size: 13px;
                            font-family: 'Whitney';
                        &:nth-child(4)
                            font-family WhitneyLight
                            letter-spacing 0.8px
                        &:nth-child(3)
                            flex-grow 1
                            text-align right
                            color $white
                            letter-spacing 0.45px
                            font-size 16px
                            padding-right 10px
                            width: 125px!important
                    img
                        width 22px
                        height 22px
                &.iz
                    background rgba(255, 255, 255, 0.1)
                    span
                        color $white

.cipher
    flex-grow 1!important
    text-align left!important
    color $white!important
    letter-spacing 0.45px!important
    font-size 16px!important
    padding-right 10px!important
    font-weight: 600!important
    width: 80px!important
    margin-left: 10px!important
    text-align: right!important;

.reserve_all
    .main-content
        padding 50px 0
        width 1180px
        margin auto
        .title
            margin-bottom: 40px
            margin-left: -16px
    ul
        li
                display: flex!important;
                justify-content: flex-start!important
                background: rgba(235,241,247,.9)!important
                width: 270px!important
                padding: 7px 15px 5px 10px!important
                margin-top: -3px!important

.main-content
    padding 50px 0
    width 1180px
    margin auto
    .title
        margin-bottom 45px
.give-title
    background rgba(235, 241, 247, 0.45)
    border 1px solid #ebf1f7
    border-radius 5px 5px 0 0
.change
    padding 9px 0 89px
    width 1180px
    margin auto
    h2
        margin 0 0 37px
    &_give
        h2
            font-size 18px
            line-height 18px
            font-family Whitney
            color #0a263e
            position relative
            display inline-block
            margin: 13px -31px 13px 11px
            padding-left: 10px

            &:after
                content ''
                height 30px
                position absolute
                top -8px
                left -48px
                width 30px
                background: rgba(0, 0, 0, 0) url("../img/shape_1.png") no-repeat scroll center center;
    &_get
        h2
            font-size 18px
            line-height 18px
            font-family Whitney
            color #0a263e
            position relative
            display inline-block
            margin 15px 0 12px
            &:after
                content ''
                height 30px
                position absolute
                top -8px
                left -40px
                width 30px
                background: rgba(0, 0, 0, 0) url("../img/shape_2.png") no-repeat scroll center center;
.exchange-bg
    padding-top 50px
    position relative
    background-position top
    letter-spacing 0.35px
    // margin-top -50px
    &:before
        background-size cover
        position absolute
        top 0
        display block
        content ''
        height 100%
        width 100%
        opacity 0.1
        background-repeat no-repeat
        background-image url("../img/404.png")
.reserve
    background-image url("../img/reserv.png")
    &_all
        h2
            color $white
        ul
            &:nth-child(2)
                margin-bottom 20px
            li
                width 261px
                display flex
                justify-content flex-start
                padding 5px 15px
                align-items center
                border-radius 5px
                background rgba(235, 241, 247, 0.9)
                .pm_icon
                    margin-right 20px

.news
    background-image url("../img/news.png")
    &_block1
        background $white
        border-radius 5px
        width 580px
        align-items center
        position relative
        overflow hidden
        padding 35px 0 20px 10px
        &_colum
            padding 0 0 20px 20px
            h3
                font-size 23px
                line-height 30px
                color: #0a263e;
                padding: 15px 0 24px 1px;
            .news_text
                padding 0 0 15px
    &_block2
        width 280px
        overflow hidden
        background $white
        border-radius 5px
        display flex
        flex-direction column
        &_colum
            padding 15px 19px
            flex-grow 1
            display flex
            flex-direction column
            .news_text
                flex-grow 1
                margin: 15px 0 0;
            h4
                color: #0a263e;
                font-size: 16px;
                :hover
                    color $green
    &_block3
        width 280px
        background $white
        border-radius 5px
        font-size 14px
        li
            padding: 17px 20px 10px;
            border-bottom 1px solid #e4eaee
            &:last-child
                padding-top 13px
            p
                a
                    &:hover
                        color $green
            &:last-child
                border none
                text-align center
.elsebutton
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
    text-decoration: underline;
    margin-bottom: -29px;
    color: #00abec
.elsebutton:hover
        color $green

.advantages
    background-image url("../img/pref.png")
    background-color: #ebf1f7
    &_list
        max-width 260px
        text-align center
        h6
            color: #0a263e;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px
            padding-top 30px
        p
            color: $dark-blue
            padding-top 5px
            font-size 12px
            font-weight: 400;
            line-height 16px
    &_img
        margin auto
        height 50px
        width 50px
        background-position center
        background-repeat no-repeat
        &.predst
            background-image url("../img/preds.png")
        &.tarifi
            background-image url("../img/tarifi.png")
        &.prefi_comodo
            background-image url("../img/pref_comodo.png")
        &.rabotn
            background-image url("../img/rabotn.png")

.news-img-b
    background-image url("../img/news2.png")
    background-position left
    flex-shrink 0
    width 310px
    height 280px
.news-img-s
    background-position center
    background-size cover
    width 280px
    height 150px
    &.news2_1
        background-image url("../img/news2_1.png")
        background-position: right
        background-size: 125%
    &.news2_2
        background-image url("../img/news2_2.png")
    &.news2_3
        background-image url("../img/news2_3.png")
    &.news2_4
        background-image url("../img/news2_4.png")
.news_text
    color: #4b555f;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
.ic1
    margin-top: -32px

.reserves-slider
    width 1130px
    display flex
    margin auto
    overflow hidden
    &__container
        width 1180px
        margin auto
        position relative
        overflow hidden
    &__wrapper
        display flex
        flex 0 0 auto
        flex-wrap wrap
    &__next-el, &__prev-el
        position absolute
        color #adb4c1!important
        top 50%
        cursor pointer
    &__prev-el
        left: 0;
        transform: rotate(180deg) translateY(50%);
    &__next-el
        right: 0;
        transform: translateY(-50%);
    .i-next
        font-size: 18px
        color white
    &__slide
        width 261px
        display flex
        justify-content flex-start
        padding 5px 15px
        align-items center
        border-radius 5px
        background rgba(235, 241, 247, 0.9)
        .pm_icon
            margin-right 20px
        &.reserve1
            width: 266px
            margin: auto
        &.reserve2
            width: 266px
            margin: auto
            margin-top: 17px
            margin-bottom: 10px
        &.reserve1, &.reserve2
            background: white!important
            border-radius: 3px!important
        &.reserve1
            .second-val:first-child
                margin-left: 0px!important
            .second-val
                margin-top: .1em!important

                font-weight: 100!important
                font-family: Whitney!important
                margin-left: 21px!important
                font-size: 11px!important

        .pm-text
            p
                margin-top: 0.6em!important
        &.reserve2
            .second-val
                margin-top: .1em!important
                margin-left: 21px!important
                font-weight: 100!important
                font-size: 11px!important
                font-family: Whitney!important
            .second-val:first-child
                margin-left: 0px!important

.recent-exchanges
    position: absolute;
    top: 73.05%;
    left: 357px;
    z-index: 999;
    max-height: 180px;
    overflow: hidden;
.logo-russia
    background: url('../img/country/russia.svg')
.logo-australia
    background: url('../img/country/australia.svg')
.logo-czech
    background: url('../img/country/czech-republic.svg')
.logo-s-africa
    background: url('../img/country/south-africa.svg')
.logo-ukraine
    background: url('../img/country/ukraine.svg')
.logo-ac
    background: url('../img/ac.png')
.logo-btc
    background: url('../img/bc.png')

._new-exchange
    transition all 2s ease

@media screen and (max-width: 1200px)
    body, .reserve_all .main-content, .change, .main-content
        min-width auto
        width: auto
    .news
        &_block1, &_block2, &_block3
            width 100%
        &-img-s news2_1
            width 100%
            height 100px
        &_block3
            background transparent
            li
                display none
                &:nth-child(4)
                    display list-item
        &-more2
            font-size 18px
            padding 5px 0 1px 0
            border-bottom 1px solid #00abec
    .reserves-slider
        width 89%
        .i-next
            color #ffffff !important
            font-size 16px
        &__container
            width 100%
        &__slide
            padding 5px 7px
            .pm-text
                > span
                    margin-bottom 12px
                p
                    display flex
                    flex-direction column
                    margin 0 !important
                    .second-val
                        margin-left 0 !important
                    span
                        margin 6px 0
    .exchange
        width 100%
        &-bg:before
            display none
        &_list
            width 100%
            max-width 580px
            margin auto
            overflow hidden
            ul li
                &.flag
                    width auto
                    p
                        &:nth-child(3)
                            width auto !important
                            font-size 14px
                            padding-right 5px
                        &:nth-child(2)
                            padding 0 12px
                &:nth-child(3)
                    padding 0 7px
    .iz span
        padding 0 6px
    .cipher
        font-size 14px !important
        width auto !important
    .news-img-b
        width 38%
    .advantages
        .flex-sb
            flex-wrap wrap
            flex-direction row
            padding 0 15px
            max-width: 400px;
            margin auto !important
        &_list
            width 150px
    .cookie
        height auto
        padding-bottom 20px
        &-text
            margin 0
            p
                padding-right 10px
        &-content
            margin-left 20px
            width 89%
        &-button
            margin-left 21%
            top 40%
    .change.flex-sb
        display flex
        flex-direction column