.pagination
  text-align: center;
  font-family: Whitney;
  font-size: 18px;
  font-weight:500
  margin-top 15px
  &__wrapper
    display: inline-block;
  &__prev-list
  &__next-list
    padding: 0 6px
  &__prev
    padding-left 2px
    span
      padding-left: 4px;
  &__next
    padding-right 2px
    span
      padding-right: 4px;
  &__item
    padding: 0 6px
    &_active
      font-family: WhitneySemiBold
      font-weight: 700
      color #00abec
      border: 1px solid #00abec;
      border-radius 3px


