//форма входа
.authorization
    .authorization-open
        width 340px
        height 520px
        &_info
            width 100%
        &_bot-bg
        background white
            li
                width 100%
                span
                    color red
                    padding 0
                .input-form
                    text-align left

.authorization-open
    overflow hidden
    width 880px
    margin 20px auto
    position relative
    z-index 2
    background: white;
    .i-at
        background #015ffd!important
        color: #fea100;
    .i-at:hover
        background #3ab904!important;
        color white
    ul
        .input-form
            background-color: #f5f5f5;
            text-align: center!important;
            margin: 9px 0px!important;
            width: 245px!important;
        .label-star-red
            padding-left: 7px!important;
            margin-top: 1px;
            font-size: 13px!important;


        .red-star
            color red!important
            font-size 12px!important
            padding 15px 2px!important
    .inputs
        width 104%
        margin auto
        margin-top 13px
    .inputs
        width 80%
        margin: auto
        margin-top: 7px;
    .i-cancel
        right: 18px;
        top: 17px;
        font-size: 13px;
        color black
    .i-cancel:hover
        color $grey
    .auth-logos-inline
        display: inline-flex
        margin-top 33px
        margin-left -12px
     &:first-child
        margin-left 0
        margin-right -0.35rem
    .auth-logo
        font-size: 14px
        color white
        margin-left 14px
        .i-fb, .i-googleplus, .i-tw, .i-vk, .i-inst, .i-at
            font-size: 18px
            border-radius: 50%
            width:29px
            height 29px
        .i-fb
            font-size: 18px
        .i-fb:before
            padding-right: 2px
        .i-googleplus
            font-size: 15px
        .i-tw
            font-size: 18px
        .i-vk
            font-size: 12px
        .i-vk:before
            padding-top: 2px
        .i-inst
            font-size: 18px
            background-color: #f16767
        .i-at
            font-size: 18px

    .auth-big-text
        text-align: center

        position relative
        margin-top 20px
        z-index 2
        font-size 1.2rem
        color black
    .auth-note-text
        font-size 0.85rem
        margin-top -14px
        letter-spacing -0.01rem

    .auth-no-acc-text
        font-size 13px
        margin-top 10px
        display: inline-flex
        label
            color: blue
            text-decoration: underline


    .button
        margin 0 auto
        max-width 250px
        width 79%
        //margin-left calc(12% - 0px)


    .flex-sa
            background: white!important
            text-align: center

    .auth-top
        background  white
        padding 20px





        .text-center
            font-size 14px
    &_info
        width 20%
        position relative
        z-index 2
        .title
            text-align center
            color $white
            font-size 16px
            padding 10px 10px 10px 20px
        &_logo
            display flex
            align-items center
            justify-content center
            position relative
            z-index 2
            font-size 32px
            width 64px
            height 64px
            background $white
            border-radius 100%
            margin -25% -10% -25% -10%
            color $green
            flex-shrink 0
            border 1px solid $blue
            box-shadow: 0 0 15px rgba(0,169,236,1);
        p
            display block
            color $text-grey
            width 130px
            padding 10px
            text-align center
            border-radius 5px
            font-size 16px
            border 1px solid $blue
            background $white
    &_bot-bg
        background $grey
        text-align center
        li
            padding 0px 10px
            position relative
            &:last-child
                padding 10px 10px 20px 10px
            &.green-line
                position relative
                width 32%
                padding 20px 10px
                &:active,&:hover
                    &:after
                        display block
                        position absolute
                        top 0
                        left 30%
                        content ""
                        border-top 3px solid $green
                        width 40%
                &:last-child
                    padding-bottom 20px
            .input-form
                text-align center
                margin 15px 0
                &:not(:disabled)
                    &::-webkit-input-placeholder
                        color black
                    &::-moz-placeholder
                        color black
                    &:-ms-input-placeholder
                        color black
                    &:-moz-placeholder
                        color black
                    &::-webkit-input-placeholder
                        color black
            span
                color $text-grey
                font-size 12px
                padding 15px 10px
            .advcash-logo
                display block
                width 144px
                height 45px
                background url(../img/advcash.png) no-repeat 50%/cover
                margin 15px auto
.passforgot
    position: absolute;
    left: 122px;
    top: 15px;
    color: #999999;
    width: max-content;
    font-size: 11px;
    a
        text-decoration: underline
    a:hover
        color $green
//форма входа

//форма регистрации
.registration-new
    .registration-new-open
        width 340px
        height 460px
        &_info
            width 100%
        &_bot-bg
        background white
            li
                width 100%
                span
                    color red
                    padding 0
                .input-form
                    text-align left
         .i-at
            background #015ffd!important
            color: #fea100;
        .i-at:hover
            background #3ab904!important;
            color white

.registration-new-open
    overflow hidden
    width 880px
    margin 20px auto
    position relative
    z-index 2
    background: white;
    ul
        .input-form
            background-color #f5f5f5
            margin 15px 3px!important
            margin-bottom: 4px!important
        .label-star-red
                padding-left: 13px!important;
                padding-top: 19px!important;
                font-size: 13px!important;
    .inputs
        width 83%
        margin: auto
    .i-cancel
        right: 18px;
        top: 17px;
        font-size: 13px;
        color black
    .i-cancel:hover
        color $grey
    .registration-new-logos-inline
        margin-left -12px
        display: inline-flex
        margin-top 40px
    &:first-child
        margin-left 0
        margin-right -0.35rem
    .registration-new-logo
        font-size: 14px
        color white
        margin-left 14px
        .i-fb, .i-googleplus, .i-tw, .i-vk, .i-inst, .i-at
            font-size: 18px
            border-radius: 50%
            width:29px
            height 29px
        .i-fb
            font-size: 18px
        .i-fb:before
            padding-right: 2px
        .i-googleplus
            font-size: 15px
        .i-tw
            font-size: 18px
        .i-vk
            font-size: 12px
        .i-vk:before
            padding-top: 2px
        .i-inst
            font-size: 18px
            background-color: #f16767
        .i-at
            font-size: 18px

    .registration-new-big-text
        text-align: center

        position relative
        margin-top 20px
        z-index 2
        font-size 1.2rem
        color black
    .registration-new-note-text
        font-size 0.85rem
        margin-top -14px
        letter-spacing -0.01rem

    .registration-new-no-acc-text
        font-size 13px
        margin-top: 22px
        display: inline-flex
        label
            color: blue
            text-decoration: underline


    .button
        max-width 250px
        width 76%
        margin: -3px auto 9px;
        //margin-left calc(12% + 3px)
    button.b-blue
        width 79%

    .flex-sa
            background: white!important
            text-align: center

    .registration-new-top
        background  white
        padding 20px





        .text-center
            font-size 14px
    &_info
        width 20%
        position relative
        z-index 2
        .title
            text-align center
            color $white
            font-size 16px
            padding 10px 10px 10px 20px
        &_logo
            display flex
            align-items center
            justify-content center
            position relative
            z-index 2
            font-size 32px
            width 64px
            height 64px
            background $white
            border-radius 100%
            margin -25% -10% -25% -10%
            color $green
            flex-shrink 0
            border 1px solid $blue
            box-shadow: 0 0 15px rgba(0,169,236,1);
        p
            display block
            color $text-grey
            width 130px
            padding 10px
            text-align center
            border-radius 5px
            font-size 16px
            border 1px solid $blue
            background $white
    &_bot-bg
        background $grey
        text-align center
        li
            padding 0px 10px
            position relative
            &:last-child
                padding 10px 10px 20px 10px
            &.green-line
                position relative
                width 32%
                padding 20px 10px
                &:active,&:hover
                    &:after
                        display block
                        position absolute
                        top 0
                        left 30%
                        content ""
                        border-top 3px solid $green
                        width 40%
                &:last-child
                    padding-bottom 20px
            .input-form
                text-align center
                margin 15px 3px
                margin-bottom: 4px
                &:not(:disabled)
                    &::-webkit-input-placeholder
                        color black
                    &::-moz-placeholder
                        color black
                    &:-ms-input-placeholder
                        color black
                    &:-moz-placeholder
                        color black
                    &::-webkit-input-placeholder
                        color black
            span
                color $text-grey
                font-size 12px
                padding 15px 10px
            .advcash-logo
                display block
                width 144px
                height 45px
                background url(../img/advcash.png) no-repeat 50%/cover
                margin 15px auto
//форма регистрации

//форма регистрации шаг 3
 .registration-s3
     .registration-s3-open
        width 340px
        height 460px
        &_info
            width 100%
        &_bot-bg
        background white
            li
                width 100%
                span
                    color red
                    padding 0
                .input-form
                    text-align left

 .registration-s3-open
    overflow hidden
    width 880px
    margin 20px auto
    position relative
    z-index 2
    background white
    ul
        .input-form
            background-color #f5f5f5
            text-align center!important
            margin 12px 0!important
        .label-star-red
            padding-left 5px!important
            font-size 13px!important
            padding-top 8px!important
        .red-star
            color red!important
            font-size 12px!important
            padding 15px 0px!important


    .inputs
        width 104%
        margin auto
        margin-top 13px
    .i-cancel
            font-size: 10px
    .registration-s3-big-text
        text-align: center

        position relative
        margin-top 20px
        z-index 2
        font-size 1.2rem
        color black
    .registration-s3-note-text
        font-size .86rem
        margin-top -9px
        letter-spacing -.04rem
        margin-left 7px
        line-height 1.1rem
    .button
        margin 0 auto
        max-width 250px
    .button.b-blue
        margin: 1px auto!important
        max-width 250px!important
        width 76%!important

    .flex-sa
            background: white!important
            text-align: center

    .registration-s3-top
        background  white
        padding 20px





        .text-center
            font-size 14px
    &_info
        width 20%
        position relative
        z-index 2
        .title
            text-align center
            color $white
            font-size 16px
            padding 10px 10px 10px 20px
        &_logo
            display flex
            align-items center
            justify-content center
            position relative
            z-index 2
            font-size 32px
            width 64px
            height 64px
            background $white
            border-radius 100%
            margin -25% -10% -25% -10%
            color $green
            flex-shrink 0
            border 1px solid $blue
            box-shadow: 0 0 15px rgba(0,169,236,1);
        p
            display block
            color $text-grey
            width 130px
            padding 10px
            text-align center
            border-radius 5px
            font-size 16px
            border 1px solid $blue
            background $white
    &_bot-bg
        background $grey
        text-align center
        li
            padding 0px 10px
            position relative
            &:last-child
                padding 10px 10px 20px 10px
            &.green-line
                position relative
                width 32%
                padding 20px 10px
                &:active,&:hover
                    &:after
                        display block
                        position absolute
                        top 0
                        left 30%
                        content ""
                        border-top 3px solid $green
                        width 40%
                &:last-child
                    padding-bottom 20px
            .input-form
                text-align center
                margin 15px 0
                &:not(:disabled)
                    &::-webkit-input-placeholder
                        color black
                    &::-moz-placeholder
                        color black
                    &:-ms-input-placeholder
                        color black
                    &:-moz-placeholder
                        color black
                    &::-webkit-input-placeholder
                        color black
            span
                color $text-grey
                font-size 12px
                padding 15px 10px
            .advcash-logo
                display block
                width 144px
                height 45px
                background url(../img/advcash.png) no-repeat 50%/cover
                margin 15px auto

//форма регистрации шаг 3


//форма регистрации шаг 2
 .registration-s2
     .registration-s2-open
        width 412px
        height 222px
        &_info
            width 100%
        &_bot-bg
        background white
            li
                width 100%
                span
                    color red
                    padding 0
                .input-form
                    text-align left

 .registration-s2-open
    overflow hidden
    width 880px
    margin 20px auto
    position relative
    z-index 2
    background white


    .i-cancel
            font-size: 10px


    .flex-sa
            background: white!important
            text-align: center

    .registration-s2-top
        background  white
        padding 20px

    .inline
        display: inline-flex
    .arrow-img
        width 148px
        height 117px
        margin-left -29px
        margin-top 23px
        margin-right 16px

    .message
        margin-top 27px

        .big-text
            margin-left -19px
            font-size 19px
            text-align left
        .little-text
            font-size 12px
            text-align left
            font-family Whitney
            margin-top 12px
            margin-left -19px

        .text-center
            font-size 14px
    &_info
        width 20%
        position relative
        z-index 2
        .title
            text-align center
            color $white
            font-size 16px
            padding 10px 10px 10px 20px
        &_logo
            display flex
            align-items center
            justify-content center
            position relative
            z-index 2
            font-size 32px
            width 64px
            height 64px
            background $white
            border-radius 100%
            margin -25% -10% -25% -10%
            color $green
            flex-shrink 0
            border 1px solid $blue
            box-shadow: 0 0 15px rgba(0,169,236,1);
        p
            display block
            color $text-grey
            width 130px
            padding 10px
            text-align center
            border-radius 5px
            font-size 16px
            border 1px solid $blue
            background $white
    &_bot-bg
        background $grey
        text-align center
        li
            padding 0px 10px
            position relative
            &:last-child
                padding 10px 10px 20px 10px
            &.green-line
                position relative
                width 32%
                padding 20px 10px
                &:active,&:hover
                    &:after
                        display block
                        position absolute
                        top 0
                        left 30%
                        content ""
                        border-top 3px solid $green
                        width 40%
                &:last-child
                    padding-bottom 20px
            .input-form
                text-align center
                margin 15px 0
                &:not(:disabled)
                    &::-webkit-input-placeholder
                        color black
                    &::-moz-placeholder
                        color black
                    &:-ms-input-placeholder
                        color black
                    &:-moz-placeholder
                        color black
                    &::-webkit-input-placeholder
                        color black
            span
                color $text-grey
                font-size 12px
                padding 15px 10px
            .advcash-logo
                display block
                width 144px
                height 45px
                background url(../img/advcash.png) no-repeat 50%/cover
                margin 15px auto

//форма регистрации шаг 2


//запрос резерва
.reserve-request
    .reserve-request-open
        width 360px
        height 400px
        &_info
            width 100%
        &_bot-bg
        background white
            li
                width 100%
                span
                    color red
                    padding 0
                .input-form
                    text-align left

.reserve-request-open
    overflow hidden
    width 880px
    margin 20px auto
    position relative
    z-index 2
    background white
    ul
        .input-form
            background-color #f5f5f5
            margin 10px 0!important
    .inputs
        width 96%
        margin: auto
        margin-top:19px
    .i-close
        font-size: 12px;
        left: 337px;
        top: 12px;
        position: absolute;

    .reserve-request-big-text
        text-align: center

        position relative
        margin-top 24px
        z-index 2
        font-size 1.2rem
        color black
    .reserve-request-note-text
        font-size 0.87rem
        margin-top -22px
        letter-spacing -0.03rem

    .reserve-request-no-acc-text
        font-size 13px
        margin-top 10px
        display: inline-flex
        a
            color: blue
            text-decoration: underline


    .button
        margin 0 auto
        max-width 250px
    button.b-blue
        width 79%

    .flex-sa
            background: white!important
            text-align: center

    .reserve-request-top
        background  white
        padding 20px





        .text-center
            font-size 14px
    &_info
        width 20%
        position relative
        z-index 2
        .title
            text-align center
            color $white
            font-size 16px
            padding 10px 10px 10px 20px
        &_logo
            display flex
            align-items center
            justify-content center
            position relative
            z-index 2
            font-size 32px
            width 64px
            height 64px
            background $white
            border-radius 100%
            margin -25% -10% -25% -10%
            color $green
            flex-shrink 0
            border 1px solid $blue
            box-shadow: 0 0 15px rgba(0,169,236,1);
        p
            display block
            color $text-grey
            width 130px
            padding 10px
            text-align center
            border-radius 5px
            font-size 16px
            border 1px solid $blue
            background $white
    &_bot-bg
        background $grey
        text-align center
        li
            padding 0px 10px
            position relative
            &:last-child
                padding 10px 10px 20px 10px
            &.green-line
                position relative
                width 32%
                padding 20px 10px
                &:active,&:hover
                    &:after
                        display block
                        position absolute
                        top 0
                        left 30%
                        content ""
                        border-top 3px solid $green
                        width 40%
                &:last-child
                    padding-bottom 20px
            .input-form
                text-align center
                margin 15px 0
                &:not(:disabled)
                    &::-webkit-input-placeholder
                        color black
                    &::-moz-placeholder
                        color black
                    &:-ms-input-placeholder
                        color black
                    &:-moz-placeholder
                        color black
                    &::-webkit-input-placeholder
                        color black
            span
                color $text-grey
                font-size 12px
                padding 15px 10px
            .advcash-logo
                display block
                width 144px
                height 45px
                background url(../img/advcash.png) no-repeat 50%/cover
                margin 15px auto
//запрос резерва

//личный кабинет вывод средств
.money-out-popup-fixed
    position fixed
    width 100%
    height 100%
    background rgba(52,69,97,0.50)
    z-index 99
    top 0
    left 0
    display: none
.money-out-popup-absolute
    position absolute
    width 100%
    height 100%
    .money-out-popup-content
        width 880px
        height 350px
        background white
        border-radius 5px
        margin auto
        margin-top calc(25% - 125px)
        .i-close
            position absolute
            margin-left 853px
            margin-top 14px
            font-size 12px

    .big-text
        text-transform uppercase
        text-align center
        font-size 19px
        font-family 'Whitney'
        padding-top 36px
    .little-text
        font-size 13px
        text-align center
        margin-top 18px
        letter-spacing -0.15px
    .input-form
        background $grey
    .inline
        width 100%
        display inline-flex
        justify-content center
        margin-left 10px
        margin-top 45px
        .el
            margin-right 21px
            width 250px
            .doble-form_left
                background #f5f5f5
                margin 0
                .test
                    width:30px
                    height 30px
                .doble-form_label
                    border none!important
            .doble-form_right
                background #f5f5f5
                margin 0
                label
                    font-family WhitneySemiBold
                    color: #334566;
                    font-weight: 400
                    .flex
                        margin auto
                        font-size: 12px
            .label-star-red
                position: relative;
                left: 20px;
                top: -30%;
                font-size: 13px;
                color: #999;
    .order
        .b-blue
            width 250px
            margin auto
            border-radius 5px
            margin-top -4px
            margin-bottom -9px

//личный кабинет вывод средств
//спасибо за отзыв
.thanks-fixed
    position fixed
    display: none
    width 100%
    height 100%
    top 0
    left 0
    background rgba(52,69,97,0.50)
    z-index: 9999
    .thanks-absolute
        position absolute
        height 100%
        width 100%
        .thanks-content
            display flex
            justify-content center
            .thanks-form
                .i-close
                    width: 10px
                    height: 10px
                    position: absolute
                    left: calc(50% + 178px)
                    margin-top: -36px
                    font-size 13px
                .i-close:hover
                    cursor pointer

                padding-top: 50px
                padding-left: 38px
                background white
                width 400px
                height 230px
                margin-top: calc(25% - 115px)
                border-radius 5px
            .inline
                display: inline-flex
                .img
                    img
                        width: 50px
                        height 50px
            .arrow
                transform: scale(1.25)
            .big-text
                font-size 21px
                font-family Whitney
                text-align center
                margin-top: 50px
                margin-left: -17px
#thanksSubs
    .arrow
        transform: scale(1.24)
        margin-top: 24px
        margin-right: 0px


//спасибо за отзыв
//форма подписки
.subscribe-fixed
    position fixed
    display: none
    width 100%
    height 100%
    top 0
    left 0
    background rgba(52,69,97,0.50)
    z-index: 999
    .subscribe-absolute
        position absolute
        height 100%
        width 100%
        .subscribe-content
            display flex
            justify-content center
            .subscribe-form
                .i-close
                    width: 10px
                    height: 10px
                    position: absolute
                    left: calc(50% + 176px)
                    margin-top: 5px
                    font-size: 13px
                .i-close:hover
                    cursor pointer

                padding: 10px 10px
                background white
                width 400px
                height 365px
                margin-top: calc(25% - 184px)
                border-radius 5px

            .big-text
                font-size: 19px
                font-family: Whitney
                text-align: center
                margin-top: 28px

            .little-text
                font-family: Whitney
                font-size: 14px
                text-align: center
                margin-top: 12px
            .input
                margin-top: 20px
                input
                    margin auto
                    margin-top: 12px
                    width: 250px
                    height 50px
                    padding-left: 15px
                    border-radius: 5px
                    background: white
                    border 1px solid #dee2e7
                    display flex

                .button.b-blue
                    padding 0
                    border none
                    color: white
                    background #00abec
                    padding-left: 22%


//форма подписки
.succ-fixed
    position fixed
    display: none
    width 100%
    height 100%
    top 0
    left 0
    background rgba(52,69,97,0.50)
    z-index: 9999
    .succ-absolute
        position absolute
        height 100%
        width 100%
        .succ-content
            display flex
            justify-content center
            .succ-form
                .i-close
                    width: 10px
                    height: 10px
                    position: absolute
                    left: calc(50% + 217px)
                    margin-top: -31px
                    font-size 12px
                .i-close:hover
                    cursor pointer

                padding-top: 50px
                padding-left: 38px
                background white
                width 491px
                height 223px
                margin-top: calc(25% - 115px)
                border-radius 5px
            .inline
                display: inline-flex
                .img
                    img
                        width: 50px
                        height 50px
            .arrow
                //transform: scale(1.25)
                margin-top: 13px
                margin-left: -7px
                margin-right: 7px

            .text
                font-family: Whitney;
                color: #334566;
                font-weight 500;
                .big-text

                .small-text
                .big-text
                    font-size: 18px
                    text-transform: uppercase
                    margin-top: 15px
                    margin-left: 15px
                .little-text
                    font-size: 12px
                    margin-top: 15px
                    margin-left: 15px


